{% extends "header_template.html" %}

{% block page_template %}
<section class="event-info-section">

    <h2>Event: {{event.name}}</h2>
    <h3>When: {{event.date}}</h3>
    <h3>Where: {{event.location}}</h3>
    <h3>Maximum number of guests: {{event.max_guests}}</h3>
    <br>
    <h3>Description: </h3>
    <hr>
    <p>{{event.description}}</p>
    <hr>
    {% if event.repeat %}
    {% set recurring = "This is a recurring event" %}
    <h4>{{recurring}}</h4>
    {% endif %}
    
</section>
    {% endblock %}