{% extends "header_template.html" %}

{% block page_template %}

<section class="all-events">

    
    <div class="display-events">
        {% for event in events %}
        {% if event.repeat %}
    <div class="repeating-events">
        <p>recurring event</p>
        <hr>
        {% endif %}
        {% if not event.repeat %}
        <div class="not-repeating-events">
            <p>standalone event</p>
            <hr>
            {% endif %}
            <h2>
                {{event.name}}
            </h2>
            <h3>on</h3>
           <h3>
               {{event.date}}
           </h3> 
            <div class="buttons">
                <form action="/event/{{events.index(event)}}">
                    <input type="submit" id="view-button" value="View Event">
                </form>    
                <form action="/event/delete/{{events.index(event)}}">
                    <input type="submit" id="delete-button" value="Delete Event">
                </form>
            </div>
        </div>
        
        {% endfor %}
    </div>
</section>
    {% endblock %}